.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: larger;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.dv-bt-sv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bt-save{
  background-color: #808080;
  color: white;
  border: none;
  padding: 8px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
}

.bt-li{
  background-color: #808080;
  color: white;
  border: none;
  padding: 8px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
}

.li{
  text-decoration: none;
  color: white;
}

.dv-bt-li{
  display: flex;
  justify-content: center;
}